.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Anta", sans-serif;
  font-size: 16px;
  --text-primary: #f8f7fb;
  --text-secondary: #edac4e;
  --background-primary: #353855;
  --background-secondary: #171214;
  --transition-speed: 600ms;
}
* {
  color: var(--text-primary);
  background: var(--background-secondary);
  margin: 0;
  padding: 0;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: var(--background-primary);
  transition: width 200ms ease-in-out;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: var(--background-primary);
}

.navbar-item {
  width: 100%;
  text-align: center;
}

.navbar-item:last-child {
  margin-top: auto;
}

.navbar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  background: var(--background-primary);
  text-decoration: none;
  filter: opacity(1);
  transition: var(--transition-speed);
}

.navbar-link:hover,
.navbar-item:hover path {
  filter: grayscale(0%) opacity(1);
  background: var(--background-secondary);
  color: var(--text-secondary);
}

.navbar-link.active path {
  color: var(--text-secondary) !important; /* Example highlight color */
}

.navbar-link svg {
  min-width: 2.5rem;
  margin: 0 1.5rem;
  background: rgba(0, 0, 0, 0);
}

path {
  color: var(--text-primary);
  transition: var(--transition-speed);
}

.navbar:hover {
  width: 18rem;
}

.navbar:hover .link-text {
  display: block;
  background: rgba(0, 0, 0, 0);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin: 1rem;
  background: var(--background-primary);
  color: var(--text-primary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}
main > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-track {
  background: #8286b0;
}
::-webkit-scrollbar-thumb {
  background: #271f22;
}
code,
pre,
.code,
.code-comment {
  font-family: "Courier New", Courier, monospace;
  background: var(--background-primary);
}

pre {
  border: 0.2rem solid var(--text-primary);
  padding: 0.7rem;
  margin: 0.7rem;
  border-radius: 0.25rem;
  overflow: auto;
}

#page-content,
#project-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

#language-page-content .language,
#text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  text-align: justify;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2rem;
  margin: 0.25rem;
  width: 75%;
  text-wrap: none;
}
#page-image {
  width: 20rem;
  border-radius: 0.75rem;
}
#project-page-image {
  width: 70rem;
  text-align: center;
}

.language path {
  fill: var(--text-secondary);
}

.progress-stars {
  color: var(--text-secondary);
}

#github-link:hover {
  color: var(--background-primary);
}
#github-link {
  color: var(--text-secondary);
}
.code {
  color: #129d25;
}
.code-comment {
  color: #000;
}
@media (max-width: 768px) {
  .navbar {
    width: max-content; /* view width */
    height: auto; /* Adjust height automatically */
    bottom: 0; /* Position at the bottom */
    top: auto; /* Remove top positioning */
    background: var(--background-primary);
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .navbar-nav {
    width: auto;
    flex-direction: row; /* Align items in a row instead of a column */
    justify-content: center; /* Center items horizontally */
    flex-grow: 1;
  }

  .navbar-item {
    flex-grow: 1; /* Make navbar items take up equal space */
    display: flex;
    justify-content: center; /* Center links inside navbar items */
  }

  .navbar-link {
    justify-content: center; /* Center content of the link */
    height: 60px; /* Adjust height of the link */
  }

  main {
    margin-left: 0; /* Remove the left margin */
    margin-bottom: 10px; /* Add some space at the bottom to avoid overlapping with the navbar */
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
